* {
    font-family: Arial, Verdana, sans-serif;
    color: dimgrey;}

p.grad-yr, p.job-summ, p.hobbies, p.cm-name, p.cm-visit, p.cm-comments {
    background-color: beige;
    border-width: 10em;
    padding: 5;
    border-color: blueviolet;
    width: 500px;
    text-align: left;
    line-height: 1.4em;}

p.cm-name, p.cm-visit, p.cm-comments {
    width: auto;}

#main-hdr {
    color: plum;}

#sub-hdr {
    color: royalblue;}

p.video-games, p.foods, p.lego, #course, #hobbies, #sites {
    text-align: justify;
    color: plum;
    text-shadow: .5px .5px 0px teal;
    width: 380px;}

#meirl {
    width: 350px;
    height: 348px;
    border-style: inset;
    border-width: 10px;
    border-radius: 5px;}

a:link {
    color: hotpink;
    text-decoration: dotted;}

a:visited {
    color: teal;
    text-decoration: dotted;}

a:hover {
    color: navy;
    text-decoration: dotted;}